language: node_js
node_js:
  - 8
deploy:
  provider: heroku
  api_key:
    secure: bIQ54GewbhP+OUuTJp/1gisGJeboOn9ghEUtfGx+3X8Xxu+qOf2eIXBooDcXKYehFCM8bLUJF2YK2R8K9uPoeCY9U9apGlTXxc4K4CYmHAjVlHBKlSjeT+i5eAW7A5ssxsAZZMYJ9GlkyZSCMB7mJJxYT2zhI3MU+nX8B6PQKVO58nuLGXNJNIxWwH6ydCuN9cVaGxWETZ/jIaNl2+fEGMWYiEfwK2R+bVjNPgdRSckRtb1H7mJ6eDmewUxFH8eQGqIH9gtpEYJkBTewCQfdEOgxPJWZ76sa0U9lQI5JX5EhA02xfluMcIy5CWbena1bUT22vsM79pj8k8uPXEhlRU9nvWvKopYeDhdfaLaPokEiFdqOY5my0DmBayQi3o3r1W5S9f7RqB1yshyEjAr+MjkzYcdW5p3jQQUy2CEboy3ZlwRAXstDw499kA7Ux4MpT1e8dMUrpjJo96WwYrQSakk5c1VDWPRr8rG47YA4FjITL+5D/Ar+oT56cKwMNS17kmDsOlrohXkfPjzieC4Ozk5VhvRppdziNo5T4zFdelrUwuHvJcrQ8daQxOWAVmjsdi617EkBZkUjodCqdcMTtlaNXpgbj4KkZ+r3A5ve5flU2OaJZ9qZuj2WP7dHwGE050D+N6jFvjnpy6s/JAG8j20Hnf3E4FloObwZgG2b254=
  app: seventravis
